/*Width for Audio/Video/Subtitle Tracks*/
.trackSelections {max-width: 45em;}

/*Login background*/
#loginPage {background: url(https://i.imgur.com/9vL4iNf.png) !important;}

/*Accent and rounding*/
:root {--accent: 98, 121, 205;}
:root {--rounding: 12px;}

/*Backdrop Mod All but Detail Screen*/
.backdropImage {filter: saturate(120%) contrast(120%) brightness(10%) opacity(1);}

#indexPage, #moviesPage, #tvRecommendedPage {
backdrop-filter: blur(20px) saturate(130%) contrast(90%) brightness(110%);
padding-top: 4.5rem !important;
margin-top: 4.3rem !important;
}

.skinHeader {
background-color: transparent;
backdrop-filter: blur(20px) !important;
box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.34) !important;
}

/*Detail screen Dark Info BG and transparent Header*/
.layout-desktop .detailPagePrimaryContainer {
background: rgba(7, 8, 14, 0.9);
}
.layout-desktop .detailPageSecondaryContainer {
background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(18px);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.semiTransparent {
background-color: rgba(0, 0, 0, 0.0) !important;
box-shadow: none !important;
}
#itemDetailPage .detailLogo {
    margin-left: 28.5%;
}